.article {
  margin: 0 0 26px;
}

.article:last-child {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .article {
    margin: 0 0 27px;
  }
}

@media screen and (max-width: 768px) {
  .article {
    margin: 0 0 25px;
  }
}
