.place__cell {
  position: relative;
  display: grid;
  grid-template-rows: auto minmax(460px, 1fr);
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
}

.place__cell:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__cell {
    gap: 48px 32px;
    grid-template-columns: 440px 1fr;
    grid-template-rows: auto minmax(440px, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .place__cell {
    gap: 48px 28px;
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto minmax(340px, 1fr);
  }
}

@media screen and (max-width: 688px) {
  .place__cell {
    gap: 32px;
    grid-template-columns: minmax(320px, 1fr);
    grid-template-rows: auto auto minmax(320px, 1fr) auto;
  }
}
